:root {
  --white: #FFFFFF;
  --black: #000000;

  --blue: #2278D4;
  --light-blue: #DDE2FF;
  --dark-blue: #0F1320;

  --red: #E20613;
  --green: #22A75D;
  --yellow: #FFD100;
  --dark-gray: #191B21;
}
